<h1>User Sign-In / Sign-Up</h1>
<form method="POST" action="/user">

    <h2>Sign-Up !</h2>

    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
    </div>

    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" />
    </div>    

    <div>
        <label for="password">Password</label>
        <input type="text" id="password" name="password" />
    </div>
    
    <div>
        <a href="/user.profile">Sign-In</a>
    </div>

    <h2>Sign-In !</h2>

    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" />
    </div>    

    <div>
        <label for="password">Password</label>
        <input type="text" id="password" name="password" />
    </div>

    <div>
        <a href="/user.profile">Login</a>
    </div>

</form>